.header,
.site-header {
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }
}

.title {
    width: 100%;

    h1 {
        font-size: 48px;
        text-align: center;
        margin-top: 7%;
        line-height: 0.2;
        text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    p {
        text-align: center;
    }
}

.logo {
    img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: $nav-back-color;

    a {
        color: $font-color;
    }

    li {
        width: auto;
        margin-bottom: 0;
    }

    ul li:hover {
        background-color: $nav-color;
    }

    ul li:active {
        background-color: $nav-color;
    }
}

.active {
    background-color: $nav-color;
}
