@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize.css';
@import 'blockquote';
@import 'code';
@import 'typography';
@import 'variables';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.main {
    flex: 1 0 auto;

    p {
        width: 64rem;
        max-width: 100%;
    }

    .meimage {
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;
        max-width: 100%;
    }

}

.header, .footer {
    flex: 0 0 auto;
}

p {
    padding-bottom: 10px;
}



.title p {
    text-align: center;
}

.title h1 {
    text-align: center;
    margin-top: 6%;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav {
    border-top: solid;
    border-bottom: solid;
    border-color: $border-color;
}
/* Title */

.title, .logo {
    padding: 1em 1em 1em 0;
}

.title {
    width: 100%;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: $title-color;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color-footer;
    min-height: 100px;
}

.footer a {
    color: #222;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

img {
    max-width: 100%;
}

.nav ul li:hover {
    background-color: $nav-color;
}

.nav ul li:active {
    background-color: $nav-color;
}
.social a {
    text-decoration: none;
}
