.technology-container {
    display: grid;
    gap: 2em 2em;
    grid-template-columns: 1fr 1fr 1fr;

    h1 {
        grid-column: span 3;
        text-align: center;
    }

    ul {
        width: auto;
    }

}

.technology {
    min-height: 64px;
    border: 2px solid $icon-color;
    text-align: center;
    font-size: 2rem;
    padding: 8px;
    color: $font-color;
}

.technology:hover {
    box-shadow: 1px 1px 8px 1px $hover-color;
    color: $hover-color;
    background-color: $icon-color;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    h2 {
        margin-top: 2rem;
        font-size: 20px;
        text-decoration: underline;
    }

    a {
        color: $icon-color;
        font-weight: 300;
        padding: 4px;
    }

    a:hover {
        box-shadow: 1px 1px 8px 1px $hover-color;
        color: $nav-color;
        background-color: $icon-color;
    }

    li {
        line-height: 0.5;
        padding-left: 0;
    }

    ul {
        padding-left: 0;
        list-style-type: none;
        margin-top: 2rem;
    }
}

.article {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    min-width: 60%;

    p,
    pre {
        width: auto;
    }
}
