$font-color: #444;
$background-color: rgb(200, 217, 218);
$border-color: #f3f2e7;
$title-color: #111;
$border-color-footer: #222;
$nav-color: #f3f2e7;
$blockquote-border-color: #f5f5f5;
$code-border-color: #ccc;
$code-background-color: #f5f5f5;
$icon-color: #222;
$technology-color: #f3f2e7;