$font-color: #111;
$header-color: #c6ede4;
$background-color: #c6ede4;
$main-color: #c6ede4;
$title-color: #13755e;
$border-color-footer: #222;
$nav-color: #27f5c5;
$blockquote-border-color: #65b7a4;
$code-border-color: #111;
$code-background-color: #65b7a4;
$code-color: #c6ede4;
$icon-color: #13755e;
$link-color: #13755e;
$link-hover-color: #27f5c5;
$technology-color: #27f5c5;
$hover-color: #27f5c5;
$nav-back-color: #1ba887;
