$font-color: #84a79f;
$header-color: #071f19;
$background-color: #071f19;
$main-color: #071f19;
$title-color: #13755e;
$border-color-footer: #13755e;
$nav-color: #071f19;
$blockquote-border-color: #65b7a4;
$code-border-color: #111;
$code-background-color: #65b7a4;
$code-color: #273330;
$link-color: #84a79f;
$link-hover-color: #84a79f;
$icon-color: #273330;
$technology-color: #1aa786;
$hover-color: #27f5c5;
$nav-back-color: #273330;
